body{
    background-color: #403d39;
    padding: 0;
    margin: 0;
}
.title{
    height: 250px;
    width: 1600px;
    background-color: #403d39;
    display:flex;
    justify-content: center;
    align-items: center;
}
#profile{
    height:150px;
    border-radius: 100%;
}
#intro{
    font-size: 20px;
    font-family: cursive;
    margin-left: 10px;
    margin-top: 10px;
}
#icons{
    height: 40px;
    width: 100px;
    background-color: #403d39;
    display: flex;
    justify-content: center;
    align-items: center;
}
#github-image{
    height: 30px;
    border-radius:100%;
}
#vertical-line{
    width: 100%;
    border:px solid white;
}
.box{
    height:300px;
    width: 100%;
    background-color: #403d39;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
#box1:hover,
#box2:hover,
#box3:hover{
    transition: all 0.1s ease-in 0s;
    border-bottom: 2px solid rgb(204, 192, 170,0.6);
    border-top: 1px solid rgb(204, 192, 170,0.6);
    border-left: 1px solid rgb(204, 192, 170,0.6);
    border-right: 1px solid rgb(204, 192, 170,0.6);
}
#box1{
    height: 300px;
    width: 350px;
    background-color: #252422;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px;

}
.topic{
    display: flex;
    align-items: flex-start;
}
#box1 h2{
    color: rgb(236, 236, 222);
    font-family: Arial;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 5px;
}

#box2{
    height: 300px;
    width: 350px;
    background-color: #252422;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
}
#box2 h2{
    color: rgb(236, 236, 222);
    font-family: Arial;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 5px;
}
#box3{
    height: 300px;
    width: 350px;
    background-color: #252422;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#box3 h2{
    color: rgb(236, 236, 222);
    font-family: Arial;
    font-weight: bolder;
    margin-top: 0px;
    margin-left: 5px;
}
.images{
    width: 30px;
    height: 30px;
}
.programming_images{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
   
}
.skill{
    height: 50px;
    border: 0.3px solid #3a3937;
    display: flex;
    padding: 4px 16px;
    
    border-radius: 10%;
}
.skill p{
    color:  rgb(236, 236, 222);
    font-family: Arial;
}
.skill:hover{
    transition: all 0.1s ease-in 0s;
    border: 2px solid rgb(204, 192, 170,0.5);
}
.framework_images{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}
.tools_images{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}